{templateType App\Presentation\Admin\Sign\SignTemplate}

{block title}Přihlášení{/block}

{block content}
<section class="card card--narrow card--centered">
	<h1>Přihlášení organizátora</h1>
	{control signInForm}
</section>
{/block}
