{templateType App\Presentation\Admin\Account\AccountTemplate}

{block title}Můj účet{/block}

{block content}
<h1>Můj účet</h1>
<section class="card card--narrow">
	<h2>Změna hesla</h2>
	{control passwordForm}
</section>
{/block}
