{templateType App\Presentation\Front\BaseTemplate}

{block title}Připravujeme{/block}

{block content}
<section class="panel closed">
	<h2>Připravujeme</h2>
	<p>Rezervace lístků na ples brzy spustíme. Zkuste to prosím později.</p>
</section>
{/block}
